.blockLarge{

  padding:80px 0;

  &.white{

    background: #fff;

  }

  &.grey{

    background: #e1dfdf;

  }

  &.light{

    background: #f0f2f2;

  }

  &.dark{

    background: #1a1a1a;

    h2{

      color:#545454;
      text-transform: uppercase;
      font-size:1.2em;

    }

  }

  &.feature{

    background:url(#{$mdpi-image-path}/feature.jpg) no-repeat;
    background-size: cover;
    background-position: center;

  }

  &.color{

    background:$brand-primary;
    color:#fff;

    h2{

      color:#fff;

    }

    a.button{

      color:#fff;;
      text-decoration: none;
      padding:10px;
      margin:20px 20px 0 0;
      border:2px solid #fff;
      display:inline-block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size:1.1em;

      &:hover{

        background:$brand-secondary;
        border-color:$brand-secondary;
        transition: border-color 0.25s linear;
        transition: background 0.25s linear;

        }

      }

  }


  h2{

    text-align: center;
    margin:0 0 40px 0;
    font-weight: bold;
    font-size:2.5em;

  }

  .whiteContent{

    background:#fff;
    overflow: hidden;
    margin:40px auto;
    padding:80px;

  }

  .block-colon{

    text-align: center;

    @media (max-width: $screen-md-min){

      margin:0 0 40px 0;

    }

    @media (max-width: $screen-sm-min){

      margin:0 0 40px 0;

    }


    h3{

      margin:40px 0;

    }

  }

}

.white-content{

  background: #fff;
  padding:80px;
  margin:0 0 80px 0;
  overflow: hidden;

}

.logo-festival{

  margin:0;
  padding: 0;
  text-align: center;

  li{

    list-style: none;
    display: inline-table;
    margin:40px;
    padding:0;

  }

}
