.button{

  background: transparent;
  display: inline-block;
  padding: 20px 40px;
  color: $brand-primary;
  text-decoration: none;
  font-weight: bold;
  border:2px solid $brand-primary;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;

  &:before{

    content: '';
  	z-index: -1;
  	position: absolute;
  	top: 50%;
  	left: 100%;
  	margin: -15px 0 0 1px;
  	width: 30px;
  	height: 30px;
  	border-radius: 50%;
  	background: $brand-primary;
  	transform-origin: 100% 50%;
  	transform: scale3d(1, 2, 1);
  	transition: all 0.5s ease;

  }

  &:hover{

    color: #fff;
    transition: all 0.5s ease;

    &:before{

      transform: scale3d(15, 15, 1);

    }


  }

  &.blue{

    color: $brand-primary;
    border-color: $brand-primary;

    &:before{

      background: $brand-primary;

    }

    &:hover{

      color: #fff;
      transition: all 0.5s ease;

      &:before{

        transform: scale3d(15, 15, 1);

      }


    }

  }

  &.white{

    color: #fff;
    border-color: #fff;

    &:before{

      background: #fff;

    }

    &:hover{

      color: $brand-primary;
      transition: all 0.5s ease;

      &:before{

        transform: scale3d(15, 15, 1);

      }


    }

  }

  &.yellow{

    color: $brand-primary;
    border-color: $brand-secondary;

    &:before{

      background: $brand-secondary;
      transform: scale3d(15, 15, 1);

    }

    &:hover{

      color: $brand-secondary;
      transition: all 0.5s ease;

      &:before{

        transform: scale3d(1, 2, 1);

      }

    }

  }

  &.light-grey{

    color: $brand-primary;
    border-color: #e6ecf3;

    &:before{

      background: #e6ecf3;
      transform: scale3d(15, 15, 1);

    }

    &:hover{

      transition: all 0.5s ease;

      &:before{

        transform: scale3d(1, 2, 1);

      }

    }

  }

}
