.colophon{

	border-top: 1px solid #fff;
	margin: 80px 0 0 0;
	padding: 20px 0;

	.navColophon{

		float: left;

		@media (max-width: $screen-xs-max){

			float: none;

		}

		p{

			float: left;
			color: #fff;

			@media (max-width: $screen-xs-max){

				text-align: center;
				float: none;

			}

		}

		.navbar-nav-colophon{

			margin: 4px 0 0 10px;
			padding: 0 0 0 10px;
			border-left: 1px solid $brand-light ;
			float:left;

			@media (max-width: $screen-xs-max){

				display: none;

			}

			li{

				list-style: none;

				a{

					color: #fff;
					text-decoration: underline;
					transition: all 0.5s ease;

					&:hover{

						color: #fff;
						transition: all 0.5s ease;

					}

				}

			}

		}

	}

	.kiff-logo {

    display: inline-block;
    height: 50px;
    width: 50px;
    padding: 0;
    text-indent: -15000px;
		float: right;
    text-decoration: none;
		background:url(#{$mdpi-image-path}/kiff-logo.png) no-repeat;
    background-size: contain;

		@media (max-width: $screen-xs-max){

			margin: 0 auto;
			float: none;
			display: block;

		}

	}

}
