#community{

  background: $brand-primary;
  margin-top: -80px;
  position: relative;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .newsletter{

    padding: 80px;

    @media (max-width: $screen-xs-max){

      padding: 40px;

    }

    h2{

      color: #fff;
      font-size: 3rem;
      font-family: $font-face-title;
      margin: 0 0 20px 0;

    }

    .row{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

    }

    input[type=email] {

      background: none;
      border: 1px solid #fff;
      color: #fff;
      padding: 10px;

      ::placeholder{

        color: $brand-light;

      }

    }

    .wpcf7-list-item-label{

      color: #fff;

    }

    input[type=submit] {

      background: $brand-secondary;
      color: $brand-primary;
      border: 1px solid $brand-secondary;
      overflow: hidden;
      position: relative;

      @media (max-width: $screen-xs-max){

        margin: 0;
        width: 100%;

      }

      &:hover{


      }

    }

  }

  .social{

    padding: 80px;

    @media (max-width: $screen-xs-max){

      padding: 40px;
      padding-top: 0;

    }

    ul{

      margin: 0;
      padding: 0;
      text-align: right;

      li{

        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;

        a{

          background: none;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 100%;
          font-size: 3rem;
          display: block;
          width: 75px;
          height: 75px;
          text-align: center;
          line-height: 75px;
          margin: 0 20px;
          transition: all 0.5s ease;

          @media (max-width: $screen-xs-max){

            margin-bottom: 20px;

          }

          &:hover{

            background: $brand-secondary;
            color: $brand-primary;
            border: none;
            transform: scale(1.1);
            transition: all 0.5s ease;

          }

        }

      }

    }


  }

}
