//JUSTIFY content__paragraph
.content__paragraph{

  img{
    &.aligncenter{
      display: inline-block;
    }
  }

  ul{

    margin: 10px 0;
    padding: 0 0 0 20px;

    li{

      font-weight: 200;

    }

  }

}

.white-box{
  background: #fff;
  padding: $margin-base*2;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: $margin-base/2;
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-size: lighter;

      &:before{
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        border-radius: 40px;
        margin-right: $margin-base/4;
        border:solid 2px $brand-primary;
      }
      &:nth-child(2n){
        &:before{
          border-color: $brand-primary;
        }
      }
      &:nth-child(3n){
        &:before{
          border-color: $brand-secondary;
        }
      }
      &:nth-child(4n){
        &:before{
          border-color: $brand-primary;
        }
      }
    }
  }

}
// 2 COLLUMN TEXT
.collumn-text {
  column-count: 2;
  column-gap: $margin-base*1.5;
  @media (max-width: $screen-sm-max){
    column-count: 1;
  }
}


// IMAGE 100%
.image-100{

  position: relative;

  &.js-replace-img{

    background-position: center;

    width: 100%;

  }

  &.small{

    height: 25vh;

  }

  &.medium{

    height: 50vh;

  }

  &.large{

    height: 75vh;

  }

  &.container{

    img{

      max-width: 100%;
      height: auto;

    }

  }

  figcaption{

    position: absolute;
    top: 50%;
    left: 50%;

    text-align: center;

    transform: translate(-50%,-50%);

    p{

      color: #fff;
      font-size: 3rem !important;

      line-height: 3rem;

      text-shadow: 2px 2px 10px #000000;

    }

  }

}

// TEXT 50 % IMAGE 50%;
.text-image{

    @media (max-width: $screen-sm-max){
      flex-wrap: wrap;
    }

  &.align-image-right{

    .row{

      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;

      flex-direction: row;

      .text{

        margin-left: 0;
        width: 50%;

        @media (max-width: $screen-sm-max){
          width: 100%;
          margin: 0;
          margin-bottom: $margin-base;

          p{

            margin-right: 0;

          }
        }

      }

    }

  }

  &.align-image-left{


    .row{

      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;

      flex-direction: row-reverse;

      .text{

        @media (max-width: $screen-sm-max){
          width: 100%;
          margin: 0;
          margin-bottom: $margin-base;

          p{

            margin-left: 0;

          }

        }

      }

    }

  }

  .image-container{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    img{
      width: 100%;
      height: auto;

    }

    .js-replace-img{

      height: 100%;
      min-height: 350px;

    }

  }

  .text{

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding-top: 40px;
    padding-bottom: 40px;

    @media (max-width: $screen-sm-max){
      padding-top: 20px;
      padding-bottom: 20px;
    }

    footer{

      margin-top: 20px;
      text-align: right;

    }

  }

}

// QUOTE
.quote-container{
  width: 100%;

}

.quote::after{
  width: 100%;
  position: absolute;
  height: 22px;
  display: block;
  background-position: center;
  margin-top: -22px;
}
blockquote{
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  line-height: 150%;
  border: none;
  text-align: center;
  @media (max-width: $screen-sm-max){
    font-size: 2rem;
  }
  &::before{
    content: "“";
  }
  &::after{
    content: "”";
  }

}
.caption{
  font-weight: lighter;
  margin-top: $margin-base;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  .js-replace-img{
    margin-right: 10px;
    width: 80px!important;
    height: 80px!important;
    border:solid 4px white;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .content{
    p{
      line-height: 150%;
      font-size: 1.4rem;
      font-weight: bolder;
      padding: 0;
      margin: 0;
      width:100%;

    }
  }
}
// ACCORDEON

.accordion{
  .card{
    background: #fff !important;
    border-radius: 0;
    padding: 0;
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(256,256,256,0.5);
    transition: all .25s  ease;
    position: relative;

    .card-header{

      padding: 0;

      button{

        background: url("../images/mdpi/next.svg") no-repeat;
        background-size: 20px;
        background-position: 10px center;

        display: block;
        width: 100%;
        text-align: left;
        padding: 20px 0 20px 40px;

        font-size: 1.6rem;
        color: #000;
        text-decoration: none;

      }

    }

  }

}

// Partenaires
.partners-item{

  a{
    transition: all .4s ease;
    &:hover{
      .js-replace-img{
        filter: grayscale(0%);

      }
    }
  }
  .js-replace-img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .8s ease;
    filter: grayscale(100%);


  }
  .content{
    padding:0 $margin-base;
    margin: $margin-base 0;
    border-left:solid 1px $brand-black;

    @media (max-width: $screen-sm-max){
      text-align: center;
    }
    h3{
      color: $brand-black;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin: 0;
    }
  }
  footer{
    border-left:solid 1px $brand-black;
    text-align: center;
    @media (max-width: $screen-sm-max){
      border: none;
      padding: $margin-base $margin-base/2;
      border-top: solid 1px $brand-black;
    }
  }
}

.team-container{
  .content{
    text-align: center;
    margin: 0 auto;
    margin-top: $margin-base*1.5;

    .js-replace-img{
      width: 200px;
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 100%;
      margin: 0 auto;
    }
    h3{
      font-size: 2rem;
      margin-top: $margin-base;
      margin-bottom: $margin-base;
    }
    span{
      display: block;
      color: $brand-secondary;
      text-transform: uppercase;
      font-weight: bolder;
      margin-top: 0;
      font-size: 1.2rem;
      line-height: 200%;
      margin-top: $margin-base/2;
      &:after{
        content: "";
        display: block;
        margin: 0 auto;
        width:40px;
        height: 2px;
        margin-top:0;
        background: $brand-secondary;

      }
    }
    footer{
      padding-top: $margin-base;
      border-top:solid 2px $brand-black;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        width: 40px;
        height: 40px;
        border:solid 2px $brand-black;
        border-radius: 40px;
        text-align: center;
        margin-right: $margin-base;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $brand-black;
        font-size: 1.8rem;
        transition: all 0.25s ease;
        i{
          transition: all 0.25s ease;
        }
        &:hover{
          background: white;
          color:$brand-black;
          border-color: white;
          i{
            background: $brand-primary;
              -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

}
// VIDEO
.video-grid{
  display: flex;
  flex-wrap: wrap;
  .video-grid-item{
    flex: 1 0 33.3%;

    @media (max-width: $screen-sm-max){
      flex: 1 0 50%; /* explanation below */
      padding: $margin-base/2 0;

    }
    @media (max-width: $screen-xs-max){
      flex: 1 0 100%; /* explanation below */
      padding: $margin-base/2 0;
    }

  }
}

//GALERY
#gallery-slide{

  div{

    margin-bottom: $margin-base*1.5;

    .grouped_elements{

      display: inline-block;

      position: relative;

      width: 100%;
      height: 100%;

      &:after{

        content: "";
        display: block;
        padding-bottom: 100%;

      }

    }

  }

}



// Logo list
.logo-list-container{
  display: flex;
  .logo-list-item{
    flex: 1 0 10%;
    a{
      display: block;
      width: 100%;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.flexible-form{
  .js-replace-img{
    height: 60vh;
    position: relative;
    @media (max-width: $screen-sm-max){
      height: 40vh;
    }
    .fade{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60vh;
      z-index: 2;
      opacity: 1;
      background: rgba(255, 255, 255, 0) linear-gradient(to right, rgba(255, 255, 255, 0) 25%, #f9f9f9 55%) repeat scroll 0 0;
      @media (max-width: $screen-sm-max){
        height: 40vh;
        background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, #f9f9f9 70%) repeat scroll 0 0;

      }
    }
  }

  .form{
    position: relative;
    right: 0;
    top: 0;
    float: right;
    z-index: 3;
    margin-top: 20vh;
    text-align: left;
    @media (max-width: $screen-sm-max){
      width: 100%;
      margin-top :30vh;
    }

    .nf-form-title{
      text-align: left;


      h3{
        line-height: 100%;
        font-size: 3.4rem;
        font-weight: bolder;
      	font-family: $font-face-title;
      	display: inline-block;
      	background: $brand-primary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .submit-wrap{
      border:none;
      background:$brand-primary;
      border-radius: 40px;
      color: #122dff;
      display: inline-block;
      padding: 2px;
      text-decoration: none;
      line-height: normal!important;
      .nf-field-label{
        display: none;
        margin: 0!important;
      }
      .nf-field-element {
        background: $brand-primary;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        transition: all 0.25s ease-in-out;

      }
      input{
         background:white;
         font-size: 1.4rem;
         text-transform: uppercase;
         font-weight: bold;
         height: auto;
         padding: 12px 3rem;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;
         border: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.25s ease-in-out;
          color: white;

      }
      &:hover{
        .nf-field-element{
         background: #f9f9f9;
         transition: all 0.25s ease-in-out;


       }
        input{
         background: $brand-primary;
         -webkit-appearance: none;
         -moz-appearance: none;
         appearance: none;

        -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         transition: all 0.25s ease-in-out;
       }
      }
    }
    label{
      font-weight: lighter;
      color: $brand-black;
    }
    input{
      height: 40px;
      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      padding: 10px;
      border:solid 1px $brand-black;
      &:focus{
        outline:none;
      }
    }
    .listselect-wrap{
      .nf-field-element{
        &:last-child{
          position: relative;
          border: solid 1px $brand-black;
          display: inline-block;
          &:after{
            content: '>';
            color: #aab1bc;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            right: 11px;
            /*Adjust for position however you want*/

            top: 10px;
            padding: 0 0 2px;
            /*left line */
            position: absolute;
            pointer-events: none;
          }
        }
      }
    }
    select{
      height:40px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border:none;
      background: transparent;
      color: $brand-black;
      padding: 0 20px;
      outline: none;
      border-radius: 0!important;

      margin-right: $margin-base;
      width: 100%;
    }
    select::-ms-expand {
      display: none;
    }
    textarea{
      background: transparent;
      padding: 10px;
      border:solid 1px $brand-black;
      &:focus{
        outline:none;
      }
     }
  }
}

.separation{

  span{

    background: #e9e9e9;

    display: block;

    width: 100%;
    height: 1px;

  }

}

// LINK
.dot-container{

  min-height: 650px;

  @media (max-width: $screen-sm-max){
    height: 300px;
  }

}

.single .slideshow{

  @media (max-width: $screen-sm-max){
    .slider-wrapper{

      height: 200px !important;
      min-height: auto;

    }
  }

}

// TEAM
.team{

  .row{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .item{

    margin-bottom: 30px;

    .image-wrapper{

      height: 400px;

    }

    header{

      h4{

        color: #ddd;
        font-style: italic;
        font-size: 1.4rem;

      }

    }

  }

}
