footer#main-footer{

  background: $brand-primary;
  margin-top: 160px;

  .brand-logo-footer{

    display: block;
    height: 100px;
    width: 250px;
    padding: 0;
    text-indent: -15000px;
    text-decoration: none;
    background: url(#{$mdpi-image-path}/brand-logo-white.png) no-repeat center/contain;
    margin: 80px auto 40px auto;

  }

  .navbar-nav-footer{

      margin: 0;
      padding: 0;
      text-align: center;


      li{

        margin: 0 20px;
        padding: 0;
        list-style: none;
        display: inline-block;

        @media (max-width: $screen-xs-max){

          display: block;
          margin: 0 0 20px 0;

        }

        a{

          color: #fff;
          position: relative;

          &::after{

            content:'';
            background: $brand-secondary;
            width: 0%;
            height: 2px;
            position: absolute;
            left:50%;
            bottom: -5px;
            left: 0;
            transition: all 0.5s ease;

          }

          &:hover{

            background:none;
            color:$brand-secondary;
            transition: color 0.5s linear;

            &::after{

              width: 100%;
              left: 0;
              transition: all 0.5s ease;

            }

            }

        }

      }

  }

}
