form{

  input[type="text"], input[type="tel"], input[type="email"], input[type="password"], textarea, select {

    border: 1px solid #ddd;
    min-height: 45px;
    width: 100%;
    padding: 0 10px;

    appearance: none;

    font-size: 1.4rem;
    line-height: 45px;

    &::placeholder{

      font-size: 1.4rem;

    }

  }

  select{

    background: url("../images/mdpi/down-arrow.png") no-repeat;
    background-size: 10px;
    background-position: right;

  }

  label{

    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 300;
    width: 100%;

  }

  .password-input, .password-input-group{

    display: block;
    width: 100%;

  }

  .wpcf7-form-control-wrap{

    display: block;
    width: 100%;

  }

}

.wpcf7{

  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;

  overflow: hidden;

  .wpcf7-form{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div{

      margin-bottom: 15px;

      label{

        display: block;

        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 300;
        width: 100%;

        span{

          font-size: 0.9rem;
          text-transform: uppercase;
          font-weight: 400;

        }

      }

      input[type="text"],  input[type="email"],  input[type="tel"]{

        background: #FFFFFF;
        border: 1px solid #D7D7D7;
        border-radius: 3px;

        height: 45px;
        width: 100%;
        padding: 0 10px;

        font-size: 1.6rem;
        color: #000000;
        line-height: 2.4rem;

      }

      textarea{

        background: #FFFFFF;
        border: 1px solid #D7D7D7;
        border-radius: 3px;

        width: 100%;

        font-size: 1.6rem;
        color: #000000;
        line-height: 2.4rem;

        padding: 25px;

      }

      .codedropz-upload-inner{

        margin: 0;

      }

      .codedropz-upload-container{

        margin-bottom: 0;

        h3{

          font-size: 1.4rem;
          font-weight: 300;
        }

        span{

          font-size: 1.4rem;
          font-weight: 300;
          display: block;
          margin-bottom: 15px;

        }

        .cd-upload-btn{

          display: inline-block;

          border-radius: 22.5px;
          border: 1px solid #000;

          height: 40px;
          padding: 0 25px;

          font-size: 1.4rem;
          font-weight: 300;
          color: #000;
          line-height: 36px;

          transition: all .5s $easeInOutQuart;

        }

      }

      .wpcf7-submit{

        font-size: 1.7rem;
        height: 48px;
        line-height: 44px;

      }

      &.address-wrapper{

        border-top: 1px dashed #c5c5c5;
        border-bottom: 1px dashed #c5c5c5;

        padding-top: 20px;
        padding-bottom: 20px;

        margin-bottom: 20px;
        margin-top: 20px;

      }

      .wpcf7-list-item{

        margin: 0;

        .wpcf7-list-item-label{

          font-size: 1.4rem;
          font-weight: 300;
          width: 100%;
          margin-left: 5px;

        }

      }

    }

  }

  .wpcf7-not-valid-tip{

    font-size: 1.4rem;
    margin-top: 5px;

  }

  .wpcf7-response-output{

    font-size: 1.6rem;

  }

}
