.hilight-content-home{

  .item{

    position: relative;

    padding-top: 80px;
    padding-bottom: 80px;

    .container{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      align-items: center;

    }

    .image-wrapper{

      overflow: hidden;
      height: 350px;
      position: relative;
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);

    }

    .image-top{

      position: absolute;
      bottom: 0;
      left: 0;
      width: 120%;
      overflow: hidden;

      transform: translate(0,80px);

      img{

        max-width: 100%;

      }

    }

    .image-wrapper-full{

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

    }

    footer{

      margin: 40px 0 0 0;

      a.yellow{

        margin: 0 0 0 20px;

        @media (max-width: $screen-xs-max){

          margin: 0 0 20px 0;

        }

      }

    }

    &.full-width{

      background: $brand-dark;
      background-size: cover;
      color:#fff;

      h2{

        margin:0 0 40px 0;

      }

      h3{

        font-family: $font-face-text;
        color: #bbc0da;
        font-weight: bold;
        margin:0 0 40px 0;

      }

    }

    &:first-child{

      .image-wrapper{

        min-height: 550px;

      }

    }

  }

}
