.hilight-services{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 15px;

  .item{

    border: 15px solid #fff;

    .bg-color{

      position: absolute;

      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;

      z-index: -1;

    }

    .image-wrapper{

      position: absolute;

      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;

      opacity: 0.15;

      z-index: -1;

    }

    .wrap{

      padding: 40px;

      color: #fff;

      h2{

        font-size: 3.4rem;

      }

      .item-services{

        a{

          display: block;
          color: #fff;

        }

      }

    }

  }

}

.hilight-services-home{

  margin-top: 60px;
  margin-bottom: 60px;

  position: relative;

    .content{

      overflow: hidden;

      article{

        position: relative;

        .image-wrapper{

          height: 250px;

        }

        header{

          position: absolute;

          bottom: 0;
          left: 15px;
          right: 15px;

          padding: 30px;

          text-align: center;

          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 50%);

          h3{

            color: #fff;
            font-weight: 700;

          }

        }

      }

    }

    .slick-arrow{

    	background: #fff;

    	display: block;
    	width: 40px;
    	height: 40px;

    	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.20);
    	border-radius: 100%;

    	font-size: 14px;
    	text-align: center;
    	color: $brand-primary;
      border: none;

    	position: absolute;
    	top: 200px;

    	text-indent: -15000px;

    	transition: all .4s $easeInOutQuart;

      z-index: 999;

      &.slick-next{

        right: 0;

        &:after{

          position: absolute;
      		top: 50%;
      		left: 50%;
      		transform: translate(-40%,-50%) scale(1,1) rotate(-135deg);

        }

      }

    	&:after {

    		content: '';
    		display: block;
    		width: 25%;
    		height: 25%;
    		box-sizing: border-box;
    		border: .2rem solid $brand-black;

    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-25%,-50%) scale(1,1) rotate(45deg);

    		border-top: 0;
    		border-right: 0;

    		transition: all .4s $easeInOutQuart;

    	}

    	&:hover{

    		background:$brand-dark;

    		&:after{

    			border: .2rem solid #fff;

    			border-top: 0;
    			border-right: 0;

    		}

    	}

    }

}
