nav.navbar{

  position: relative;
  top:0;
  left:0;
  width: 100%;

  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.20);

  z-index: 9999;

  .navbar-header{

    width:100%;

    .brandContainer{

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      align-items: center;
      justify-content: space-between;

      width: 100%;

      .navbar-toggle{

        border-color: $brand-secondary;

        .icon-bar{

          background: $brand-primary;

        }

      }

      .navbar-brand{

        margin: 10px 0;
        display: inline-block;
        height: 100px;
        width:250px;
        padding: 0;
        text-indent: -15000px;
        text-decoration: none;
        background: url(#{$mdpi-image-path}/brand-logo-black.png) no-repeat center/contain;

        @media (max-width: $screen-xs-max){

          height: 75px;
          width: 190px;
          margin-left: 10px;

        }

        }



        .navigation{

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          float: right;

          .button_container {
            position: relative;
            float: right;
            top: 5%;
            right: 2%;
            height: 40px;
            width: 30px;
            cursor: pointer;
            transition: opacity .25s ease;
            z-index: 10000;

            &:hover {
              opacity: .85;
            }

            &.active {
              .top {
                transform: translateY(11px) translateX(0) rotate(45deg);
                background: $brand-primary;
              }
              .middle {
                opacity: 0;
                background: $brand-primary;
              }

              .bottom {
                transform: translateY(-11px) translateX(0) rotate(-45deg);
                background: $brand-primary;
              }
            }

            span {
            background: $brand-primary;
            border: none;
            height: 3px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition:  all .35s ease;
            cursor: pointer;

              &:nth-of-type(2) {
                top: 11px;
              }

              &:nth-of-type(3) {
                top: 22px;
              }
            }
          }

      .overlay-nav {
        position: fixed;
        z-index: 9999;
        background: $brand-secondary;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .25s, visibility .25s, height .25s;
        overflow: hidden;

        &.open {
          opacity: .9;
          visibility: visible;
          height: 100%;

          li {
            animation: fadeInRight .25s ease forwards;
            animation-delay: .25s;

            &:nth-of-type(2) {
              animation-delay: .25s;
            }
            &:nth-of-type(3) {
              animation-delay: .30s;
            }
            &:nth-of-type(4) {
              animation-delay: .35s;
            }
          }
        }
        nav {
          position: relative;
          text-align: center;
          height: 100%;
          width: 100%;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0 auto;
          display: inline-block;
          position: relative;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;

          li {
            display: block;
            position: relative;
            opacity: 0;
            margin:0 0 10px 0;
            float: none;

            a {
              position: relative;
              color: $brand-primary;
              text-decoration: none;
              overflow: hidden;
              font-size: 24px;

              &:hover:after,
               &:focus:after,
               &:active:after {
                 width: 40px;
               }

              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0%;
                transform: translateX(-50%);
                height: 3px;
                background: $brand-primary;
                transition: .35s;
              }

              &:hover{

                background: none;

              }
            }
          }
        }
      }

      @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
      }

      .navbar-nav-secondary{

        margin: 0 20px 0 0;
        padding: 35px 20px 35px 0;

        @media (max-width: $screen-xs-max){

          display: none;

        }

        li{

          margin: 0;
          padding: 0;
          list-style: none;

          a{

            background: none;
            display: inline-block;
            padding: 20px;
            color: $brand-primary;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            border:2px solid $brand-primary;
            position: relative;
            overflow: hidden;
            transition: all 0.5s ease;

            &:before{

              content: '';
            	z-index: -1;
            	position: absolute;
            	top: 50%;
            	left: 100%;
            	margin: -15px 0 0 1px;
            	width: 30px;
            	height: 30px;
            	border-radius: 50%;
            	background: $brand-primary;
            	transform-origin: 100% 50%;
            	transform: scale3d(1, 2, 1);
            	transition: transform 0.3s, opacity 0.3s;
            	transition: all 0.5s ease;

            }

            &:hover{

              color: #fff;
              transition: all 0.5s ease;

              &::before{

                transform: scale3d(15, 15, 1);

              }


            }

          }

        }

      }

    }

    }
  }
}

.home{

  nav.navbar{

    position: absolute;
    top:-2px;
    left:0;
    width: 100%;
    z-index: 9999;

    border: none;

    box-shadow: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);

  }

  .navbar-brand{

    background: url(#{$mdpi-image-path}/brand-logo-white.png) no-repeat center/contain !important;

    }

  .navbar-nav-secondary{

    a{

      border-color: #fff !important;
      color: #fff !important;

      &:before{

        background: #fff !important;


      }

      &:hover{

        color: $brand-primary !important;

      }

    }

  }

  .button_container {

    span {

      background: #fff !important;

    }

    &.active{

      span {

        background: $brand-primary !important;

      }

    }

  }

}
