.news-grid{

  .row{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }

  .news-item{

    margin-bottom: 20px;

    a{

      display: block;
      height: 100%;
      //box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.19);
      border: 1px solid #e6ecf3;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      text-decoration: none;

      .js-replace-img{

        height: 250px;
        width: 100%;

      }

      header{

        padding: $margin-base/2 $margin-base 0 $margin-base;

        h3{

          color: $brand-black;

        }

      }

      .content{

        padding: $margin-base/2 $margin-base 0 $margin-base;
        color: $brand-black;

      }

      footer{

        padding: $margin-base;
        color: $brand-black;

        width: 100%;

        span{

          font-size: 1.4rem;

        }

      }

    }

  }

  footer{

    width: 100%;

  }

}

.home{

  .news-grid{

    .container{

      >.content{

        @media (max-width: $screen-sm-max){

          padding-left: 20px;
          padding-right: 20px;

        }

      }

    }

  }

}
