body.has-overlay{

	overflow: hidden;

}

div#overlay {

	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	z-index: 1000200;
	background-color: rgba(0, 0, 0, .85);

}

div#overlay.visible {

	display: block!important;

}

div#overlay div.overlay-content {


	position: absolute;
	top: 100px;
	right: 25px;
	bottom: 0;
	left:25px;
	overflow: scroll;
	color: $brand-light;
}

div#overlay div.overlay-content .hidden-xs,
div#overlay div.overlay-content .hidden-sm,
div#overlay div.overlay-content .hidden-md,
div#overlay div.overlay-content .hidden-lg{

	display: block!important;

}

div#overlay div.overlay-content section {

	margin-top: 0;
	padding-top: 0;

}

div#overlay a.overlay-close-control{

	transition: background-color 250ms;
	width: 50px;
	height:50px;
	border: 1px solid $brand-primary;
	position: absolute;
	right: 25px;
	top:25px;
	background:url(../images/mdpi/close_icon.png) center center no-repeat;
	background-color: $brand-black;

}

div#overlay a.overlay-close-control:focus,
div#overlay a.overlay-close-control:hover{

	background-color: $brand-primary;

}

.overlayered {


	display: none;	

}

.overlayered-lg {

	
	@media(min-width:$screen-lg-desktop){

		display: none;

	}

}

.overlayered-md {

	
	@media(min-width:$screen-desktop) and (max-width:$screen-lg-desktop -1){

		display: none;

	}

}

.overlayered-sm {

	
	@media(min-width:$screen-tablet) and (max-width:$screen-desktop -1){

		display: none;

	}

}

.overlayered-xs {

	
	@media(min-width:$screen-phone) and (max-width:$screen-tablet -1){

		display: none;

	}

}

div#overlay div.overlay-content>div.overlayered {

	display: block;

}

div#overlay div.overlay-content>div.overlayered h2,
div#overlay div.overlay-content>div.overlayered p{

	color:$brand-light;

}
