#place{

  .event-grid{

    figure{

      position: relative;
      height: 275px;
      border: 1px solid #fff;
      overflow: hidden;

      a{

        .image-wrapper{

          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

        }

        figcaption{

          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 20px;
          opacity: 1;
          transition: all 0.5s ease;

          h3{

            background: #e6ecf3;
            color: $brand-primary;
            padding: 10px;
            display: inline-block;
            font-family: $font-face-text;

          }

        }

        .more{

          background: rgba(242,182,50,0.9);
          position: absolute;
          top: -100%;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 0.5s ease;

          span{

            padding: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

          }

        }

        &:hover{

          figcaption{

            bottom: -100px;
            opacity: 0;
            transition: all 0.5s ease;

          }

          .more{

            top: 0;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;

          }

        }


      }

    }

  }

  footer{

    margin: 40px 0 0 0;

  }

}
