.slideshow{

}

.slider-wrapper{

	background: #2c3136;

	height: 60vh;
	min-height: 500px;
	width: 100%;
	position: relative;

	overflow: hidden;

	@media (max-width: $screen-sm-max){

		height: calc( 80vh - 190px);

	}

}

/* --------------------------------
Slider
Single slide style
-------------------------------- */
.cd-hero {

  position: relative;
  height: 100%;

	.cd-hero-slider {

	  position: relative;

	  height: 100%;
	  margin:0;
	  padding:0;

		>li {

			background-position: center center;
		  background-size: cover;
		  background-repeat: no-repeat;

		  width: 100%;
		  height: 100%;
		  margin:0;
		  padding:0;
		  list-style: none;

			position: absolute;
		  top: 0;
		  left: 0;

			opacity: 0;

			z-index: 90;

			outline: #fff;

			transition: all 1.5s ease;

			&.selected {

				position: relative;
				opacity: 1;
				z-index: 99;

				outline: #fff;

				transition: all 1.5s ease;

				figcaption{

					header{

						transform: translateY(0px);
						transition-delay: 0;

					}

					.content{

						transform: translateY(0px);
						transition-delay: 0.2s;

					}

					footer{

						transform: translateY(0px);
						transition-delay: 0.4s;

					}

				}

				.js-replace-img{

					transform: translateX(0px);

				}

			}

			&.move-left {

				//transform: translateX(-100%);
				opacity: 0;
				outline: #fff;

				transition: all 1.5s ease;

			}

			a{

				display: block;
				height: 100%;
				width: 100%;

				position: relative;

				color: #fff;

				.js-replace-img{

					height: 100%;
					width: 100%;

					transform: translateX(-100px);
					transition: all 1.5s ease;

					&.image-wrapper{

						background-size: contain;
						background-repeat: no-repeat;

						&.left{

							background-position: right center;

						}

						&.right{

							background-position: left center;

						}

						&.center{

							background-position: center center;

						}

					}

				}

				figcaption{

					width: 50%;

					position: absolute;
					top: auto;
					bottom: 25%;
					left: 50%;

					transform: translate(-50%,25%);

					&.left{

						text-align: left;

					}

					&.right{

						text-align: right;

					}

					&.center{

						text-align: center;

					}

					@media (max-width: $screen-md-max){

						transform: translate(-50%,0);
						width: 75%;

					}

					header{

						transform: translateY(40px);
						transition: all 1.5s ease;

						span{

							font-size: 1.8rem;
							text-transform: uppercase;
							font-weight: 400;

							text-shadow: 3px 3px 10px rgba(0,0,0,0.5);

							@media (max-width: $screen-sm-max){

								font-size: 1.4rem;

							}

						}

					}

					.content{

						transform: translateY(40px);
						transition: all 1.5s ease;

						h2{

							color: #fff;
							font-size: 7.2rem;
							font-weight: 800;

							text-shadow: 3px 3px 10px rgba(0,0,0,0.5);

							@media (max-width: $screen-md-max){

								font-size: 5rem;

							}

							@media (max-width: $screen-sm-max){

								font-size: 3.2rem;

							}

						}

					}

					footer{

						margin-top: 40px;

						transform: translateY(40px);
						transition: all 1.5s ease;

						span{

							color: #fff;

							@media (max-width: $screen-sm-max){

								font-size: 1.4rem;

							}

						}

					}

				}

			}

		}

	}

}

/* --------------------------------

Slider navigation

-------------------------------- */
.cd-slider-nav {

	padding: 20px 0 20px 0;

	width: 100%;
  text-align: center;

	@media (max-width: $screen-xs-max){

		/*bottom: 115px;*/

	}
}
.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li, .cd-slider-nav a {
  /*height: 100%;*/
}
.cd-slider-nav nav {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
}

.cd-slider-nav ul {
  margin:0 auto;
  padding:0;
}

.cd-slider-nav li {
  display: inline-block;
  margin:0 20px 0 0;
  padding:0;
  list-style: none;
  position: relative;
}

.cd-slider-nav a {
	background: #dddddd;
	border-radius: 100%;
  display: block;
  position: relative;
	width: 20px;
  height: 20px;
  text-indent: -15000px;
  transition: all 0.5s ease;
}

.cd-slider-nav li.selected a {
  background-color: #3399cc;
  transition: all 0.5s ease;
}

/* --------------------------------

Slider navigation arrows

-------------------------------- */
.cd-slider-arrows{

	position: absolute;
	top: 50%;

	width: 100%;

	transform: translateY(-50%);

	z-index: 999;

	@media (max-width: $screen-xs-max){
		top: auto;
		bottom: 30px;
	}

}
.cd-slider-arrows li {
  position: absolute;
  top: 0;
  left: 20px;

	list-style: none;

	//transform: translateY(-50%);

}
.cd-slider-arrows li a {
	background: #fff;

	display: block;
	width: 40px;
	height: 40px;

	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.20);
	border-radius: 100%;

	font-size: 14px;
	text-align: center;
	color: $brand-primary;

	position: absolute;
	top: 50%;
	transform: translate(0,-50%);

	text-indent: -15000px;

	transition: all .4s $easeInOutQuart;

	&:after {

		content: '';
		display: block;
		width: 25%;
		height: 25%;
		box-sizing: border-box;
		border: .2rem solid $brand-black;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-25%,-50%) scale(1,1) rotate(45deg);

		border-top: 0;
		border-right: 0;

		transition: all .4s $easeInOutQuart;

	}

	&:hover{

		background:$brand-dark;

		&:after{

			border: .2rem solid #fff;

			border-top: 0;
			border-right: 0;

		}

	}

}

.cd-slider-arrows li:last-of-type {

	left: auto;
	right: 60px;

	a{

		&:after {

			transform: translate(-75%,-50%) scale(1,1) rotate(225deg);

		}

	}

}
