
h1,h2,h3 {
font-family: $font-face-title ;
}
h1.regular-text,
h2.regular-text,
h3.regular-text{

font-family: $font-face-text;

}

h1 {

	font-size: 6rem;
	font-family: $font-face-text;
	margin: 0 0 40px 0;

	@media (max-width: $screen-xs-max){

		font-size: 3rem;

	}

}

h2 {

	font-size: 4.8rem;
	margin: 0 0 40px 0;
	font-family: $font-face-title;

	@media (max-width: $screen-xs-max){

		font-size: 3rem;

	}

}

h3 {

	font-size: 1.6em;

}



h4,h5,h6 {}

p {

	line-height: 200%;
	font-size: 1.4rem;
	margin: 0 0 20px 0;

}


a {
	color:$brand-secondary;
	text-decoration: underline;
}
a:hover {

	color:$brand-secondary;
	-webkit-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-ms-transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	transition: color 0.25s linear;

}
a:visited {}
a:focus {}
a:link,
a:hover,
a:visited,
a:focus{


}

b {}
