body{

    @media (min-width: $screen-md-min){


        &::before{

            display: none;
            content:"large";

        }
	}

    @media (min-width: $screen-sm-min) and (max-width: ($screen-md-min)-1){


        &::before{

            display: none;
            content:"medium";
        }
	}

    @media (min-width: $screen-xs-min) and (max-width: ($screen-sm-min)-1){

        &::before{

            display: none;
            content:"small";

        }
	}

	@media (max-width: $screen-xs-min){

        &::before{

            display: none;
            content:"xsmall";
        }
	}
}
