.page-wrapper{

  >header{

    h1{

      margin: 0;

    }

  }

}

#event-single{

  header{

    background: #bccbde;
    position: relative;
    min-height: 80vh;

    .image-wrapper{

      overflow: hidden;
      height: 80vh;

      img{

        opacity: 0.2;

      }

    }

    .title-content{

      position: absolute;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);

      a.return{

        margin: 0 0 20px 0;

      }

      h1{

        margin: 0 0 20px 0;

      }

      h2{

        background: $brand-primary;
        color: #fff;
        padding: 10px;
        display: inline-block;
        margin: 0;
        font-size: 3.8rem;

      }

      h3{

        background: $brand-primary;
        color: #fff;
        padding: 10px;
        display: list-item;
        margin: 0;
        clear: both;

      }

    }

  }

  #content{

    position: relative;
    margin-top: 80px;

    .content{

      background: #fff;
      padding: 40px;
      margin-top: 40px;
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);
      min-height: 500px;

    }

    .information{

      background: $brand-secondary;
      padding: 40px;
      margin-top: 40px;
      box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.20);
      min-height: 500px;
      margin-top: -160px;

    }

  }

  #inscription{

    background: $brand-dark url(#{$mdpi-image-path}/registration.jpg) no-repeat;
    background-size: cover;
    color:#fff;
    min-height: 400px;

    div{

      padding-top: 40px;
      padding-bottom: 40px;

    }

  }

}

.wrap-global-content{

  .item-single{

	  &.colonne{

			h2{

				margin: 0 0 20px 0;

			}

			div{

				columns:2;
		    column-gap: 40px;

			}

	  }

	  &.image{

			div{

				img{

		      width: 100%;
		      height: auto;

		    }


			}



	  }

	}

}

.single-services-wrapper{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > aside{

    border-right: 1px solid #ddd;
    padding-right: 0;

    ul{

      margin: 0;
      padding: 0;

      li{

        margin: 0;
        padding: 0;
        list-style: none;

        border-bottom: 1px solid #ddd;

        &:last-child(){

          border: none; 

        }

        a{

          display: block;
          padding: 20px;

        }

      }

    }

  }

}
